/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.125rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}

section {
  max-width: 90vw;
}

a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */
/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/*Frontend 1st button: button enlargement*/
a:nth-of-type(1) {
  position: relative;
  background: var(--highlight-primary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.enlarge {
  animation-name: enlarge;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* Design 2nd button: color change*/
a:nth-of-type(2) {
  background-color: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.show {
  animation-name: show;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

@keyframes show {
  0% {
  background-color: var(--highlight-primary);
 }
}

/* '&' 3rd button: flashing effect*/
a:nth-of-type(3) {
  position: relative;
  background: var(--primary);
  color: var(--secondary);
  border-color: var(--highlight-secondary);
}

.flash {
  animation-name: flash;
  animation-duration: 0.25s;
  animation-iteration-count: 5;
}

@keyframes flash {
  0% {
  opacity: 1;
  }
  50% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

/* Development 4th button: spinning animation */
a:nth-of-type(4) {
  position: relative;
  background: var(--highlight-primary);
  color: var(--secondary);
  border-color: var(--highlight-secondary);
}

.spinning {
  animation-name: spinning;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Sprint 5 button: expanding width size on click*/
a:nth-of-type(5) {
  position: relative;
  background: var(--secondary);
  color: var(--primary);
  border-color: var(--highlight-secondary);
}

.expand {
  animation-name: expand;
  animation-timing-function: cubic-bezier(0.22, 0.7, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes expand {
  0% {
    text-align: center;
    width: 15vh
  }

  50% {
    text-align: center;
    width: 60vh;
  }

  100% {
    text-align: center;
    width: 18vh;
  }
}

/* Fix button: rainbow lights on hover */
a:nth-of-type(6) {
  position: relative;
  background: var(--secondary);
  color: var(--primary);
  border-color: var(--primary);
}

.disco-lights {
  animation-name: disco-lights;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.1s;
  animation-iteration-count: 1.5;
}

@keyframes disco-lights {
  0% {
  background: red;
  }

  10% {
  background: orange;
  }

  20% {
  background: yellow;
  }

  30% {
  background: yellowgreen;
  }

  40% {
  background: rgb(21, 163, 21);
  }

  50% {
  background: blue;
  }

  60% {
  background: magenta;
  }

  70% {
  background: purple;
  }

  80% {
  background: hotpink;
  }

  90% {
  background: palevioletred;
  }

  100% {
  background: turquoise;
  }
}

/* "The" button: Twisting on doubleclick*/

a:nth-of-type(7) {
  position: relative;
  background: var(--primary);
  color: var(--secondary);
  border-color: var(--highlight-primary);
}

.twist{
  animation-name: twist;
  animation-duration: 1.5s;
}

@keyframes twist{
  0% {
  transform: perspective(120px) rotateX(0deg) rotateY(0deg);
 }

  50% {
  transform: perspective(200px) rotateX(10deg) rotateY(10deg);
 }

  100% {
  transform: perspective(200px) rotateX(20deg) rotateY(360deg);
 }
}

/* Flow button: shake animation mouseout*/
a:nth-of-type(8) {
  position: relative;
  background: var(--secondary);
  color: var(--highlight-secondary);
  border-color: var(--highlight-secondary);
}

.shaking {
  animation: shaking 0.5s;
  animation-iteration-count: 4;
}

@keyframes shaking {
  0% { 
    transform: translate(1px, 1px) rotate(0deg); 
  }
  10% {
     transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
     transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
     transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
     transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
     transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
     transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
     transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
     transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
     transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
     transform: translate(1px, -2px) rotate(-1deg);
  }
}